<p id="notice"><%= notice %></p>

<h1>All Comments</h1>

<p>All comments for "<strong><%= @article.title %></strong>"</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if user_signed_in? %>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.user.email %></td>
          <td><%= comment.body %></td>
          <td><%= link_to 'Show', comment %></td>
          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
