<p id="notice"><%= notice %></p>

<h1>
  <%= @article.title %>
</h1>

<p>
	Posted by <%= @article.user.email %>
</p>

<p>
  <%= @article.body %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h3>Add a Comment</h3>
<%= render 'comments/form' %>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
